@font-face
  font-family: 'icomoon'
  src:  url('fonts/icomoon.eot?jg7hzs')
  src:  url('fonts/icomoon.eot?jg7hzs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jg7hzs') format('truetype'),
    url('fonts/icomoon.woff?jg7hzs') format('woff'),
    url('fonts/icomoon.svg?jg7hzs#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-firebase:before
  content: "\e900"
  color: #ffca28

.icon-fitbit:before
  content: "\e901"
  color: #00b0b9

.icon-flickr:before
  content: "\e902"
  color: #0063dc

.icon-flipboard:before
  content: "\e903"
  color: #e12828

.icon-git:before
  content: "\e904"
  color: #f14e32

.icon-gitlab:before
  content: "\e905"
  color: #e24329

.icon-gnu:before
  content: "\e906"
  color: #a42e2b

.icon-goldenline:before
  content: "\e907"
  color: #fbbf00

.icon-googleallo:before
  content: "\e908"
  color: #ecb842

.icon-googleanalytics:before
  content: "\e909"
  color: #ffc107

.icon-googlechrome:before
  content: "\e90a"
  color: #4285f4

.icon-googlekeep:before
  content: "\e90b"
  color: #fb0

.icon-googleplay:before
  content: "\e90c"
  color: #607d8b

.icon-govuk:before
  content: "\e90d"
  color: #005ea5

.icon-graphql:before
  content: "\e90e"
  color: #e10098

.icon-mastodon:before
  content: "\e90f"
  color: #189efc
